src/java/whitepagesWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="whitepagesWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/WhitePages/java/whitepagesWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/WhitePages/java/whitepagesWSDL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/WhitePages/java/whitepagesWSDL" xmlns:tns="http://j2ee.netbeans.org/wsdl/WhitePages/java/whitepagesWSDL">
            <xsd:complexType name="person">
                <xsd:sequence>
                    <xsd:element name="address">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="street" type="xsd:string"></xsd:element>
                                <xsd:element name="postcode" type="xsd:string"></xsd:element>
                                <xsd:element name="city" type="xsd:string"></xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="phone" type="xsd:string"/>
                <xsd:attribute name="firstName" type="xsd:string"/>
                <xsd:attribute name="lastName" type="xsd:string"/>
            </xsd:complexType>
            <xsd:element name="request" type="tns:person"></xsd:element>
            <xsd:element name="response" type="xsd:string"></xsd:element>
        </xsd:schema>
    </types>
    <message name="whitepagesWSDLOperationRequest">
        <part name="person" element="tns:request"/>
    </message>
    <message name="whitepagesWSDLOperationResponse">
        <part name="output" element="tns:response"/>
    </message>
    <portType name="whitepagesWSDLPortType">
        <operation name="addPerson">
            <input name="input1" message="tns:whitepagesWSDLOperationRequest"/>
            <output name="output1" message="tns:whitepagesWSDLOperationResponse"/>
        </operation>
    </portType>
    <binding name="whitepagesWSDLPortTypeBinding" type="tns:whitepagesWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addPerson">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="whitepagesWSDLService">
        <port name="whitepagesWSDLPortTypeBindingPort" binding="tns:whitepagesWSDLPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
